apiVersion: 1

providers:
{% for host in groups[prometheus_group] %}
- name: Prometheus - {{ hostvars[host]['ansible_hostname'] }}
  orgId: 1
  folder: ''
  type: file
  disableDeletion: false
  editable: true
  options:
    path: /etc/grafana/provisioning/dashboards
{% endfor %}
