type: S3
config:
  bucket: thanos
  endpoint: {{ hostvars[groups['minio'][0]]['ansible_host'] }}:9000
  insecure: true
  signature_version2: true
  access_key: {{ minio_access_key }}
  secret_key: {{ minio_secret_key }}
